
Project/Objects
Project/DebugConfig
Project/Listings
Project/Jlink*
Project/MC_MC.dep
Project/EventRecorderStub.scvd
*.uvoptx
*.bak
*.sw?
*.uvguix.*
*.o
*.obj
*.list
*.d
*.crf
*.htm
*.dep
*.lnp
*.axf
*.lst
*.map
*.bak
*.TMP
JLinkLog.txt
_MC
Objects
Listings
DebugConfig
Version.txt
Version.h
*.bin